# NUMAN INTERNSHIP TASK

In [2]:
#import pandas in Jupyter Notebook environement:
import numpy as np
import xlrd
import openpyxl
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib notebook

DATA FILE

In [6]:
#reading xlsx file 
dataset1=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='Detail_67_1_1')
dataset2=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='Detail_67_1_1_1')
dataset3=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='Detail_67_1_1_2')
dataset4=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='Detail_67_1_1_3')
dataset5=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='Detail_67_1_1_4')
dataset6=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='Detail_67_1_1_5')
dataset7=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='Detail_67_1_1_6')

In [54]:
dataset.info()
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Record ID                    65535 non-null  int64
 1   Step Name                    65535 non-null  object
 2   Relative Time(h:min:s.ms)    65535 non-null  object
 3   Realtime                     65535 non-null  datetime64[ns]
 4   Auxiliary channel TU1 T(°C)  65535 non-null  float64
 5   Gap of Temperature           65535 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 3.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Record Index               65535 non-null  int64
 1   Status                     65535 non-null  object
 2   JumpTo                     65535 non-null  int64
 3   Cycle                      65535 non-null  int64
 4   Step                       65535 non-null  int64
 5   Cur(mA)                    65535 non-null  float64
 6   Voltage(V)                 65535 non-null  float64
 7   CapaCity(mAh)              65535 non-null  float64
 8   Energy(mWh)                65535 non-null  float64
 9   Relative Time(h:min:s.ms)  65535 non-null  object
 10  Absolute Time              65535 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(4), object(2)
memory usage: 5.5+ MB

In [55]:
dataset.head()

,Record ID,Step Name,Relative Time(h:min:s.ms),Realtime,Auxiliary channel TU1 T(°C),Gap of Temperature
0,196606,CCCV_DChg,0:04:10.000,2020-10-13 02:39:32,28.3,0
1,196607,CCCV_DChg,0:04:11.000,2020-10-13 02:39:33,28.3,0
2,196608,CCCV_DChg,0:04:12.000,2020-10-13 02:39:34,28.3,0
3,196609,CCCV_DChg,0:04:13.000,2020-10-13 02:39:35,28.3,0
4,196610,CCCV_DChg,0:04:14.000,2020-10-13 02:39:36,28.3,0

In [56]:
#concating all the dataset(different xecel sheets)
d=pd.concat([dataset1, dataset2, dataset3, dataset4, dataset5, dataset6, dataset7])
d[:5]

,Record Index,Status,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh),Relative Time(h:min:s.ms),Absolute Time
0,1,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:00.000,2020-10-10 20:03:39
1,2,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:01.000,2020-10-10 20:03:40
2,3,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:02.000,2020-10-10 20:03:41
3,4,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:03.000,2020-10-10 20:03:42
4,5,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:04.000,2020-10-10 20:03:43

In [59]:
#Converting xcel file1 to csv
dataset.to_csv ("C:\\Users\\sinha\\Desktop\data_1.xlsx",
                  index = None,
                  header=True)
d.to_csv ("C:\\Users\\sinha\\Desktop\detail.csv", index = False, header=True)

In [3]:
#reading DetailVol excel sheet
vol1=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='DetailVol_67_1_1')
vol2=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='DetailVol_67_1_1_1')
vol3=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='DetailVol_67_1_1_2')
vol4=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='DetailVol_67_1_1_3')
vol5=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='DetailVol_67_1_1_4')
vol6=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='DetailVol_67_1_1_5')
vol7=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='DetailVol_67_1_1_6')

In [4]:
#Concating detailVol data sets
detailVol=pd.concat([vol1, vol2, vol3, vol4, vol5, vol6, vol7])

In [5]:
detailVol[:6]

,Record ID,Step Name,Relative Time(h:min:s.ms),Realtime,Auxiliary channel TU1 U(V),Gap of Voltage
0,1,Rest,0:00:00.000,2020-10-10 20:03:39,-0.0013,0
1,2,Rest,0:00:01.000,2020-10-10 20:03:40,-0.0013,0
2,3,Rest,0:00:02.000,2020-10-10 20:03:41,-0.0013,0
3,4,Rest,0:00:03.000,2020-10-10 20:03:42,-0.0013,0
4,5,Rest,0:00:04.000,2020-10-10 20:03:43,-0.0012,0
5,6,Rest,0:00:05.000,2020-10-10 20:03:44,-0.0013,0

In [7]:
#Converting it into csv 
detailVol.to_csv (r'C:\Users\sinha\Desktop\detailVol.csv', index = False, header=True)

In [8]:
#Import the modules and set the directory
import os, glob
import pandas as pd

path = "C:\\Users\\sinha\\Desktop\\Data\Data"

In [9]:
#Match the csv by the record ID
all_files = glob.glob(os.path.join(path, "Detail_67_*.csv"))

In [ ]:
#reading Data_1 Excel sheet
temp1=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='DetailTemp_67_1_1')
temp2=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='DetailTemp_67_1_1_1')
temp3=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='DetailTemp_67_1_1_2')

In [ ]:
temp4=pd.read_excel(r'C:\Users\sinha\Desktop\data.xlsx',sheet_name='DetailTemp_67_1_1_3')
temp5=pd.read_excel(r'C:\Users\sinha\Desktop\data_1.xlsx',sheet_name='DetailTemp_67_1_1_4')
temp6=pd.read_excel(r'C:\Users\sinha\Desktop\data_1.xlsx',sheet_name='DetailTemp_67_1_1_5')
temp7=pd.read_excel(r'C:\Users\sinha\Desktop\data_1.xlsx',sheet_name='DetailTemp_67_1_1_6')

In [ ]:
#Conacting different data set of Detailtemp
detailTemp=pd.concat([temp1, temp2, temp3, temp4, temp5, temp6, temp7])

In [ ]:
#converting it into csv file
detailTemp.to_csv(r'C:\Users\sinha\Desktop\detailTemp.csv', index = False, header=True)

In [ ]:
detailTemp[:6]

In [ ]:
#down-sampling method to reduce the sampling rate to 1 sample/minute
df=pd.read_csv('C:\\Users\\sinha\\Desktop\\detailTemp.csv',parse_dates=['Realtime'])
df
#type(df.Relative Time(h:min:s.ms))
detailTempDownsampled=df.resample('1Min',on='Realtime').mean()

#detailTempDownsampled.to_csv (r'C:\Users\sinha\Desktop\detailTempDownsampled.csv', header=True)
detailTempDownsampled

df1=pd.read_csv('C:\\Users\\sinha\\Desktop\\detailVol.csv',index_col=['Record ID'],parse_dates=['Realtime'])
df1

detailVolDownsampled=df1.resample('1Min',on='Realtime').mean()
#df_x.resample('5Min').agg({'price': 'mean', 'vol': 'sum'})
detailVolDownsampled.to_csv (r'C:\Users\sinha\Desktop\detailVolDownsampled.csv', header=True)
detailVolDownsampled

df2=pd.read_csv('C:\\Users\\sinha\\Desktop\\detail.csv',index_col=['Record Index'],parse_dates=['Absolute Time'])
df2

detailDownsampled=df2.resample('1Min',on='Absolute Time').mean()
#df_x.resample('5Min').agg({'price': 'mean', 'vol': 'sum'})
detailDownsampled.to_csv (r'C:\Users\sinha\Desktop\detailDownsampled.csv', header=True)
detailDownsampled

In [ ]:
plt.xlabel('Auxiliary channel TU1 T(°C)_x')
plt.ylabel('Record ID')

xvalues=DetailTemp_67_['Auxiliary channel TU1 T(°C)_x'].head(10)
yvalues1 = DetailTemp_67_['Record ID'].head(10)
plt.plot(xvalues, yvalues1, lw=2, color='red')

In [ ]:
#low pass filter technique for noise removal on the data set
#Step 1 : Define the filter requirements
import numpy as np
from scipy.signal import butter,filtfilt
# Filter requirements.
T = 5.0         # Sample Period
fs = 30.0       # sample rate, Hz
cutoff = 2      # desired cutoff frequency of the filter, Hz ,      slightly higher than actual 1.2 Hz
nyq = 0.5 * fs  # Nyquist Frequency
order = 2       # sin wave can be approx represented as quadratic
n = int(T * fs) # total number of samples

In [ ]:
#Step 2 : Create some sample data with noise
# sin wave
sig = np.sin(1.2*2*np.pi*t)
# Lets add some noise
noise = 1.5*np.cos(9*2*np.pi*t) + 0.5*np.sin(12.0*2*np.pi*t)
data = sig + noise

In [ ]:
#Step 3 : Filter implementation using scipy
def butter_lowpass_filter(data, cutoff, fs, order):
    normal_cutoff = cutoff / nyq
    # Get the filter coefficients 
    b, a = butter(order, normal_cutoff, btype='low', analog=False)
    y = filtfilt(b, a, data)
    return y

In [ ]:
# Filter the data, and plot both the original and filtered signals.
y = butter_lowpass_filter(data, cutoff, fs, order)
fig = go.Figure()
fig.add_trace(go.Scatter(
            y = data,
            line =  dict(shape =  'spline' ),
            name = 'signal with noise'
            ))
fig.add_trace(go.Scatter(
            y = y,
            line =  dict(shape =  'spline' ),
            name = 'filtered signal'
            ))
fig.show()

In [ ]:
#Data Cleaning
detailTemp['Step Name_y'] =detailTemp['Step Name_y'].replace(np.nan, 0)

In [ ]:
DetailTemp[:5]

In [ ]:
#cProfile is a built-in python module that can perform profiling. It is the most commonly used profiler currently.
# import module
import cProfile

In [ ]:
pr = cProfile.Profile()
pr.enable()
my_func()   # the code I want to profile
pr.disable()
pr.print_stats(

In [ ]:
cProfile.run('my_func()','profile_results')

In [ ]:
#Run unit test on each function,i.e., write test cases for each function. Use unittest for the same.
import unittest

class TestStringMethods(unittest.TestCase):

    def test_upper(self):
        self.assertEqual('foo'.upper(), 'FOO')

    def test_isupper(self):
        self.assertTrue('FOO'.isupper())
        self.assertFalse('Foo'.isupper())

    def test_split(self):
        s = 'hello world'
        self.assertEqual(s.split(), ['hello', 'world'])
        # check that s.split fails when the separator is not a string
        with self.assertRaises(TypeError):
            s.split(2)

if __name__ == '__main__':
    unittest.main()